.container
{
    width: 100vw;
    height: 10vh;

    background-color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: white;
}

.container_logo
{
    /*background-color: blueviolet;*/
    font-size: 2rem;

    margin: 0 15px 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container_navbar
{
    /*background-color: brown;*/
    margin: 0 15px 15px 0;
    
    display: flex;
    flex-direction: row;
}

.container_button
{
    /*background-color: aqua;*/
    margin-left: 10px;
    font-size: 1.11rem;


    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right,white 0%, transparent 0%);
    /*border-image: radial-gradient(circle, white 0%, transparent 100%);*/
    border-image-slice: 1;
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.container_button:hover
{
    animation: border_linear 0.25s forwards;
}

@keyframes border_linear {
	0% {
		border-image: linear-gradient(to right,white 0%, transparent 0%);
        border-image-slice: 1;
	}
    10% {
		border-image: linear-gradient(to right,white 10%, transparent 0%);
        border-image-slice: 1;
	}
    20% {
		border-image: linear-gradient(to right,white 20%, transparent 0%);
        border-image-slice: 1;
	}
    30% {
		border-image: linear-gradient(to right,white 30%, transparent 0%);
        border-image-slice: 1;
	}
    40% {
		border-image: linear-gradient(to right,white 40%, transparent 0%);
        border-image-slice: 1;
	}
    50% {
		border-image: linear-gradient(to right,white 50%, transparent 0%);
        border-image-slice: 1;
	}
    60% {
		border-image: linear-gradient(to right,white 60%, transparent 0%);
        border-image-slice: 1;
	}
    70% {
		border-image: linear-gradient(to right,white 70%, transparent 0%);
        border-image-slice: 1;
	}
    80% {
		border-image: linear-gradient(to right,white 80%, transparent 0%);
        border-image-slice: 1;
	}
    90% {
		border-image: linear-gradient(to right,white 90%, transparent 0%);
        border-image-slice: 1;
	}      
	100% {
		border-image: linear-gradient(to right,white 100%, transparent 0%);
        border-image-slice: 1;

	}
}

@keyframes border_radial {
	0% {
		border-image: radial-gradient(circle, white 0%, transparent 100%);
        border-image-slice: 1;
	}      
	100% {
		border-image: radial-gradient(circle, white 100%, transparent 0%);
        border-image-slice: 1;
	}
}